# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# data
data/

# Environments
.env
.env.dev
.venv
.conda
env/
venv/
ENV/
env.bak/
venv.bak/

# ruff
.ruff_cache/

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode debug conf
launch.json

# VScode custom settings
.vscode/settings.json

# Chainlit
.files/
